# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fraudia-db
DB_USER=postgres
DB_PASSWORD=change_me

# Google AI Studio / Gemini para el agente SQL
GOOGLE_API_KEY=apikey
GOOGLE_MODEL_ID=gemini-2.5-flash