# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fraudia-db
DB_USER=postgres
DB_PASSWORD=change_me

# Hugging Face Inference API para el agente SQL
HUGGINGFACEHUB_API_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
HF_MODEL_ID=mistralai/Mistral-7B-Instruct-v0.3
