pandas==2.2.3
numpy==2.3.5
matplotlib==3.10.8
seaborn==0.13.2
scikit-learn==1.8.0
joblib==1.5.3
shap==0.50.0
python-dotenv==1.2.2

# PostgreSQL
psycopg2-binary
SQLAlchemy

# LangChain SQL agent + Google AI Studio / Gemini
langchain
langchain-core
langchain-community
langchain-google-genai
# API FastAPI
fastapi
uvicorn[standard]
python-multipart